body {
  margin: 0 auto;
  padding: 0;
  background-color: #5cdb95;
  text-align: center;
  /* border: 1px solid black; */
}

/* input[type="number"]::-webkit-inner-spin-button, */
/* input[type="number"]::-webkit-outer-spin-button { */
  /* -webkit-appearance: none; */
  /* margin: 0; */
/* } */

header {
  border-bottom: 1px solid #05386B;
  margin-bottom: 20px;
}

main {
  text-align: center;
}
#gameCanvas {
  border-radius: 6px;
}

.clickable {
  cursor: pointer;
}
a:link {
  color: #edf5e1;
}
a:visited {
  color: #EDF5E1;
}
a:hover {
  color: #05386B;
}
a:active {
  color: #05386b;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #EDF5E1;
  text-shadow: 2px 2px 6px #379683;
  padding: 10px 30px;
  margin: 0 auto;
}

h2 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #05386b;
  padding: 0px;
  margin: 0 auto;
}
h3 {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #05386b;
  padding: 0px;
  margin: 0 auto;
}
h4 {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: #379683;
  padding: 0px;
  margin: 0 auto;
}
h5 {
  margin: 0 auto;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#canvas-container {
  background-color: #379683;
  border-radius: 8px;
  width: 800px;
  margin: 0 auto;
  height: 600px;
  padding: 1px;
}




footer {
  text-align: center;
  border-top: 1px solid #05386B;
  margin-top: 30px;
  padding-top: 8px;
  width: 100%;
}
