body {
  margin: 0 auto;
  padding: 0;
  background-color: #3AAFA9;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

header {
  border-bottom: 1px solid #17252a;
  margin-bottom: 20px;
}


.clickable {
  cursor: pointer;
}
a:link {
  color: #def2f1;
}
a:visited {
  color: #2b7a78;
}
a:hover {
  color: #feffff;
}
a:active {
  color: #17252a;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #feffff;
  text-shadow: 2px 2px 6px #2b7a78;
  padding: 10px 30px;
  margin: 0 auto;
}

h2 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #17252a;
  padding: 0px;
  margin: 0 auto;
}
h3 {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #17252a;
  padding: 0px;
  margin: 0 auto;
}
h4 {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: #2b7a78;
  padding: 0px;
  margin: 0 auto;
}
h5 {
  margin: 0 auto;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5:hover {
  color: black;
}














footer {
  text-align: center;
  border-top: 1px solid #17252a;
  margin-top: 30px;
  padding-top: 8px;
  width: 100%;
}